{% extends 'common/base.html.jinja2' %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block content %}
<div class="lg:px-44 px-0">
    <h2 class="text-3xl font-bold mb-16">Home</h2>
    {% include 'common/components/article_list.html.jinja2' %}
  </div>
{% endblock %}
