{% extends 'common/base.html.jinja2' %}

{% block title %}
<title>SAFED - Home</title>
{% endblock %}

{% block content %}
<div class="xl:px-44 px-0">
    <h2 class="text-3xl font-bold mb-16">Home</h2>
    {% include 'home/components/article_list.html.jinja2' %}
    <h3 class="text-3xl font-bold my-10">Popular</h3>
    {% include 'home/components/popular.html.jinja2' %}
</div>
{% endblock %}
