{% load static %}
<ul class="grid grid-cols-3 gap-x-2 gap-y-4">

  {% if article_list.mainArticle %}
  <li class="col-span-2 hover:-translate-y-2 hover:shadow-2xl" style="transition: all 0.1s ease-in">
    <a href="{{ article_list.mainArticle.url }}" class="h-full border-4 shadow-xl flex flex-col rounded-md">
      {% if article_list.mainArticle.image %}
      <img width="500" height="500" class="w-full" src="{{ article_list.mainArticle.image.url }}" alt="Article Image">
      {% else %}
      <img width="500" height="500" class="" src="{% static 'common/elements/logo-gray.svg' %}" alt="Article Image">
      {% endif %}
      <div class="py-4 px-2 flex flex-col align-top ">
        <div>
          <p class="font-bold text-2xl overflow-scroll">{{ article_list.mainArticle.title }}</p>
          <p class="py-2 overflow-scroll">{{ article_list.mainArticle.preview }}</p>
        </div>
      </div>
      <p class="text-lg font-bold pb-4 px-2 mt-auto text-gray-600">{{ article_list.mainArticle.author }}</p>
    </a>
  </li>
  {% endif %}

  {% for article in article_list.articles %}
  <li class="hover:-translate-y-2 shadow-xl hover:shadow-2xl" style="transition: all 0.1s ease-in">
    <a href="{{ article.url }}" class="h-full border-4 flex flex-col rounded-md">
      {% if article.image %}
      <img width="500" height="500" class="w-full" src="{{ article.image.url }}" alt="Article Image">
      {% else %}
      <img width="500" height="500" class="w-full" src="{% static 'common/elements/logo-gray.svg' %}" alt="Article Image">
      {% endif %}
      <div class="py-4 px-2 flex flex-col align-top ">
        <div>
          <p class="font-bold text-2xl overflow-scroll">{{ article.title }}</p>
          <p class="py-2 overflow-scroll">{{ article.preview }}</p>
        </div>
      </div>
      <p class="text-lg font-bold pb-4 px-2 mt-auto text-gray-600">{{ article.author }}</p>
    </a>
  </li>
  {% endfor %}
</ul>