body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.subscribe-container {
    text-align: center;
}

.subscribe-button {
    background-color: #363636; /* Tomato color */
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

.subscribe-button:hover {
    background-color: #c2c2c2;
    color: #363636;
    font-size: 20px;
    transition: 0.2s ease-in;
}
