{% load static %}
<ul class="grid grid-cols-3 gap-x-2 gap-y-4">

  {% if article_list.mainArticle %}
  <li class="col-span-2 hover:-translate-y-2 shadow-xl hover:shadow-2xl border-4" style="transition: all 0.1s ease-in">
    <a href="{{ article_list.mainArticle.url }}" class="h-full border-4 rounded-md">
      {% if article_list.mainArticle.image %}
      <img width="500" height="500" class="w-full" src="{{ article_list.mainArticle.image.url }}" alt="Article Image">
      {% else %}
      <img width="500" height="500" class="" src="{% static 'common/elements/logo-gray.svg' %}" alt="Article Image">
      {% endif %}
      <div class="py-4 px-2 flex flex-col align-top">
        <div>
          <p class="font-bold text-2xl">{{ article_list.mainArticle.title }}</p>
          <p class="py-2">{{ article_list.mainArticle.preview }}</p>
        </div>
      </div>
    </a>
    <div class="flex justify-between">
      <p class="text-lg font-bold pb-4 px-2 mt-auto text-gray-600">{{ article_list.mainArticle.author }}</p>
      {% if article_list.mainArticle.related.all %}
      <div class="flex items-center h-full">
        <p class="text-lg font-bold px-2 mt-auto text-gray-600">Related:</p>
        {% for poli in article_list.mainArticle.related.all %}
        <a href="/profile/politician/{{ poli.id }}">
            <img src="{{ poli.image.url }}" alt="Profile picture for {{ poli.name }}"
              class="object-cover w-8 h-8 rounded-full mr-2">
        </a>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </li>
  {% endif %}

  {% for article in article_list.articles %}
  <li class="hover:-translate-y-2 shadow-xl hover:shadow-2xl flex flex-col" style="transition: all 0.1s ease-in">
    <a href="{{ article.url }}" class="h-full border-4 rounded-md">
      {% if article.image %}
      <img width="500" height="500" class="w-full" src="{{ article.image.url }}" alt="Article Image">
      {% else %}
      <img width="500" height="500" class="w-full" src="{% static 'common/elements/logo-gray.svg' %}"
        alt="Article Image">
      {% endif %}
      <div class="py-4 px-2 flex flex-col align-top ">
        <div>
          <p class="font-bold text-2xl">{{ article.title }}</p>
          <p class="py-2 overflow-hidden">{{ article.preview }}</p>
        </div>
      </div>
    </a>
    <div class="flex justify-between py-4 px-2">
      <p class="text-lg font-bold mt-auto text-gray-600">{{ article.author }}</p>
      {% if article.related.all %}
      <div class="flex items-center">
        <p class="text-lg font-bold h-auto px-2 text-gray-600">Related:</p>
        {% for poli in article.related.all %}
        <a href="/profile/politician/{{ poli.id }}">
            <img src="{{ poli.image.url }}" alt="Profile picture for {{ poli.name }}"
              class="object-cover w-8 h-8 rounded-full mr-2">
        </a>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </li>
  {% endfor %}
</ul>