<div class="flex justify-center w-full">
  <div class="border border-zinc-500 rounded-sm w-full">

    <div class="grid grid-cols-2 border-b border-b-zinc-500 text-white">
      <button
        class="p-2 border-r bg-zinc-600 hover:bg-zinc-500
         border-r-gray-200 rounded-tl-sm text-xl"
        hx-get="/?popular=politician"
        hx-target="#popularItems"
        hx-swap="innerHTML"
        hx-trigger="click"
      >Politicians</button>
      <button
        class="p-2 bg-zinc-600 hover:bg-zinc-500 rounded-tr-sm text-xl"
        hx-get="/?popular=organization"
        hx-target="#popularItems"
        hx-swap="innerHTML"
        hx-trigger="click"
      >Organizations</button>
    </div>

    <div id="popularItems">
      {% include "home/components/popular_items.html.jinja2" %}
    </div>
  </div>

</div>