<div class="flex justify-center">
  <div class="border border-zinc-500 rounded-sm bg-zinc-300">

    <div class="grid grid-cols-2 border-b border-b-zinc-500">
      <button class="p-2 border-r border-r-zinc-500">Politicians</button>
      <button class="p-2">Organizations</button>
    </div>

    <div id="popularItems">
      {% include "home/components/popular_items.html.jinja2" %}
    </div>
  </div>

</div>