{% extends "common/base.html.jinja2" %}


{% block title %}
<title>SAFED - Search</title>
{% endblock %}


{% block content %}
<div class="lg:px-44 px-0">
  <h2 class="text-3xl font-bold pt-4 pb-8">Search</h2>
  <div>
    <div class="flex justify-center">
      <form
        hx-get="/search"
        hx-target="#searchResults"
        hx-swap="innerHTMl"
        hx-trigger="submit, keyup delay:500ms, changed delay:500ms"
        class="flex flex-col w-3/4 lg:w-11/12"
      >
      <div class="flex mb-4">
        <input
          type="text"
          name="q"
          class="outline-none border-0 margin-0 shadow-inner text-2xl
            rounded-l-full px-10 w-full"
        >
        <button
          class="bg-zinc-600 py-2 pr-3 pl-1 text-center flex items-center justify-center
            hover:bg-zinc-500 rounded-r-full"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
          </svg>
        </button>
      </div>
      <div class="px-10 ">
        <div class="flex flex-col w-fit">
          <label for="categorySelect">Category:</label>
          <select
            name="category"
            id="categorySelect"
            name="category"
            class="bg-zinc-700 hover:bg-zinc-600 text-white rounded-sm p-4
              cursor-pointer"
          >
            <option value="politician">Politician</option>
            <option value="organization">Organization</option>
          </select>
        </div>
      </div>
      </form>
    </div>
    <div class="flex justify-center py-10">
      <p>Search results</p>
    </div>
    <div id="searchResults">
      {% include "search/components/items.html.jinja2" %}
    </div>

    <div id="searchPagination">
      {% include "search/components/pagination.html.jinja2" %}
    </div>
  </div>
</div>
{% endblock %}


