{% extends 'common/base.html.jinja2' %}

{% block content %}
{% load static %}
<div class="flex justify-center flex-col">
  <img width="500" height="500" src="{% static 'common/elements/logo-gray.svg' %}" alt="logo" />
  <p>Test</p>
</div>
{% endblock %}