.navbar {
    transition: width 0.3s;
  }
  .navbar.expanded {
    width: 200px;
  }
  .navbar .nav-link {
    transition: opacity 0.5s, visibility 0.5s;
  }
  .navbar .nav-link.opacity-1 {
    opacity: 1;
    visibility: visible;
  }
  