body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  margin: 0;
}

.container {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.summary {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  min-width: 100px;
  max-width: 1000px;
}

.summary h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.summary p {
  margin: 10px 0;
  color: #666;
  font-size: 16px;
}

.summary h3 {
  margin-top: 20px;
  font-size: 20px;
  color: #333;
}

.summary ul {
  list-style-type: disc;
  margin: 10px 0 0 20px;
  padding: 0;
}

.summary li {
  margin: 5px 0;
  color: #666;
  font-size: 16px;
}

.profile-card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  text-align: center;
  padding: 20px;
  position: relative;
}

.profile-card img {
  width: 100%;
  min-width: 200px;
  height: auto;
  max-height: 500px;
  object-fit: cover;
  margin-bottom: 20px;
}

.profile-card h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.profile-card .details {
  display: none;
  text-align: left;

}

.profile-card p {
  margin: 10px 0;
  color: #666;
  font-size: 16px;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.profile-card strong {
  color: #333;
}

#toggleButton {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #333;
  outline: rgb(119, 119, 119) solid 2px;
}

#toggleButton.collapsed {
  outline: rgb(119, 119, 119) solid 2px;
  background-color: white;
  transform: rotate(360deg);
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  .container {
      flex-direction: column;
      align-items: center;max-width: 400px;
  }

  .profile-card {
    order: 0;
    width: 400px;
  }

  .summary {
    order: 1;
  }
}
