label {
    font-family: sans-serif;
    font-size: 1rem;
    padding-right: 10px;
  }
  
  select {
    font-size: 0.9rem;
    padding: 8px 20px;
    border-radius: 3px;
    background-color: rgb(226, 226, 226);
  }

  option {
    background-color: rgb(192, 192, 192);
    padding: 8px 20px;
  }